<table *ngIf="books.length">
  <tr>
    <th>Meno knihy</th>
    <th>Meno autora</th>
    <th>Priezvisko autora</th>
    <th>ISBN</th>
    <th>Dostupnosť</th>
    <th style="width: 20px"></th>
  </tr>
  <tr *ngFor="let book of books">
    <td>{{ book.name }}</td>
    <td>{{ book.authorFirstName }}</td>
    <td>{{ book.authorLastName }}</td>
    <td>{{book.isbn}}</td>
    <td>{{book.count}}</td>
    <td>{{ book.available}}</td>
    <td>
      <button (click)="editBook(book.id)">Upravit</button>
      <button (click)="deleteBook(book.id)">Zmazat</button>
    </td>
  </tr>
</table>
