<h2>USER</h2>
<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <div class="form-group">
    <label for="firstName">Meno:</label>
    <input id="firstName" type="text" formControlName="firstName" [ngClass]="{'invalid-input': form.controls.firstName.invalid && submitted}" />
    <p *ngIf="form.controls.firstName.invalid && submitted" class="invalid-text">
      Zadajte meno
    </p>
  </div>

  <div class="form-group">
    <label for="lastName">Priezvisko:</label>
    <input id="lastName" type="text" formControlName="lastName" [ngClass]="{'invalid-input': form.controls.lastName.invalid && submitted}" />
    <p *ngIf="form.controls.lastName.invalid && submitted" class="invalid-text">
      <span *ngIf="form.controls.lastName.errors?.required">Zadajte priezvisko</span>
      <span *ngIf="form.controls.lastName.errors?.minlength">Minimálna dĺžka priezviska sú 3 znaky</span>
    </p>
  </div>

  <button type="submit" [disabled]="form.invalid">Uložiť</button>
  <button type="reset">Zrušiť</button>
</form>
