<h3>KNIHY</h3>
<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <div class="form-group">
    <label for="name">Meno knihy:</label>
    <input id="name" formControlName="name" type="text" [ngClass]="{'invalid-input': form.controls.name.invalid && submitted}" />
    <p *ngIf="form.controls.name.invalid && submitted" class="invalid-text">
      Name of book is required.
    </p>
  </div>

  <div class="form-group">
    <label for="authorFirstName">Meno autora:</label>
    <input id="authorFirstName" formControlName="authorFirstName" type="text" [ngClass]="{'invalid-input': form.controls.authorFirstName.invalid && submitted}" />
    <p *ngIf="form.controls.authorFirstName.invalid && submitted" class="invalid-text">
      Author name is required and must be at least 3 characters.
    </p>
  </div>

  <div class="form-group">
    <label for="authorLastName">Priezvisko autora:</label>
    <input id="authorLastName" formControlName="authorLastName" type="text" [ngClass]="{'invalid-input': form.controls.authorLastName.invalid && submitted}" />
    <p *ngIf="form.controls.authorLastName.invalid && submitted" class="invalid-text">
      Author name is required and must be at least 3 characters.
    </p>
  </div>

  <label>
    <input type="text" placeholder="ISBN" formControlName="isbn">
  </label>

  <div class="form-group">
    <label for="available">Dostupnosť:</label>
    <input id="available" formControlName="available" type="checkbox" />
  </div>

  <button type="submit">Uložiť</button>
</form>
