

<div>
  <input #pg type="number" value="{{input}}"  (input)="toBin(pg.value)"/> <br>

  <input type="checkbox" (click)="toDecimal(8)" id="8"/>
  <input type="checkbox" (click)="toDecimal(7)" id="7"/>
  <input type="checkbox" (click)="toDecimal(6)" id="6"/>
  <input type="checkbox" (click)="toDecimal(5)" id="5"/>
  <input type="checkbox" (click)="toDecimal(4)" id="4"/>
  <input type="checkbox" (click)="toDecimal(3)" id="3"/>
  <input type="checkbox" (click)="toDecimal(2)" id="2"/>
  <input type="checkbox" (click)="toDecimal(1)" id="1"/>
</div>
