

<div>
  <input #mn type="number" value="{{something}}"  (input)="toBin(mn.value)"/> <br>

  <form #myForm='ngForm'>
    <input [(ngModel)]="shown1" type="checkbox" (click)="toDecimal(8)"  name="checkBox1" class="form-control"/>
    <input  [(ngModel)]="shown2" type="checkbox" (click)="toDecimal(7)"  name="checkBox2" class="form-control"/>
    <input  [(ngModel)]="shown3" type="checkbox" (click)="toDecimal(6)"  name="checkBox3" class="form-control"/>
    <input [(ngModel)]="shown4" type="checkbox" (click)="toDecimal(5)"  name="checkBox4" class="form-control"/>
    <input [(ngModel)]="shown5" type="checkbox" (click)="toDecimal(4)"  name="checkBox5" class="form-control"/>
    <input  [(ngModel)]="shown6" type="checkbox" (click)="toDecimal(3)"  name="checkBox6" class="form-control"/>
    <input  [(ngModel)]="shown7" type="checkbox" (click)="toDecimal(2)"  name="checkBox7" class="form-control"/>
    <input  [(ngModel)]="shown8" type="checkbox" (click)="toDecimal(1)"  name="checkBox8" class="form-control"/>
  </form>
</div>
