<div>
  <button routerLink="/user">POUŽÍVATELIA</button>
  <button routerLink="/books" (click)="changeMenu(menu.BOOKS)">KNIHY</button>
  <button routerLink="/borrowings" (click)="changeMenu(menu.BORROWINGS)">VÝPOŽIČKY</button>
</div>
<ng-container *ngIf="actualMenu === menu.USERS">
  <router-outlet></router-outlet>
</ng-container>

<ng-container *ngIf="actualMenu === menu.BOOKS">
  <router-outlet></router-outlet>
</ng-container>

<ng-container *ngIf="actualMenu === menu.BORROWINGS">
  <router-outlet></router-outlet>
</ng-container>
