<div class="col">
  <h2>BORROWINGS</h2>
  <form (ngSubmit)="addOrUpdateBorrowing.emit()">
    <div class="form-group">
      <label for="borrowingId">ID</label>
      <input type="text" class="form-control" id="borrowingId" name="borrowingId" required [(ngModel)]="borrowingId">
    </div>
    <div class="form-group">
      <label for="borrowingUserId">USER ID</label>
      <input type="text" class="form-control" id="borrowingUserId" name="borrowingUserId" required [(ngModel)]="borrowingUser">
    </div>
    <div class="form-group">
      <label for="borrowingBookId">BOOK ID</label>
      <input type="text" class="form-control" id="borrowingBookId" name="borrowingBookId" required [(ngModel)]="borrowingBook">
    </div>
    <button type="submit" class="btn btn-primary">{{ editBorrowing ? 'Update' : 'Add' }} BORROWING</button>
  </form>
</div>
